importlib-metadata==4.13.0 ; python_full_version >= "3.7.2" and python_version < "3.8"
typing-extensions==4.4.0 ; python_full_version >= "3.7.2" and python_version < "3.8"
zipp==3.10.0 ; python_full_version >= "3.7.2" and python_version < "3.8"
